@using UsersGoods.Web.Resources
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@StringResource.Error</title>
</head>
<body>
	<hgroup>
		<h1>@StringResource.Error</h1>
		<h2>@StringResource.PageNotFound</h2>
	</hgroup>
</body>
</html>
